<form class="" action="/edit" method="post">
  <div class="">
      <%= @user.username %>
      <input type="text" name="[comment]username" value="">
  </div>
<div class="">
    <%= @user.password %>
    <input type="password" name="[comment]password" value="">
</div>

<div class="">
    <%= @user.email %>
    <input type="text" name="[comment]email" value="">
</div>
<div class="">
  <%= @user.location %>
  <input type="text" name="[comment]location" value="">
</div>
<div class="">
  <%= @user.motto %>
  <input type="text" name="[comment]motto" value="">
</div>
<div class="">
  <%= @user.interests %>
  <input type="text" name="[comment]interests" value="">
</div>
<input type="submit" name="" value="submit">
</form>

<div class="">
  <form class="" action="/edit" method="post">

<input type="hidden" name="delete" value="account">
<input type="submit" name="" value="Delete Account">
  </form>

</div>
