<form class="" action="/edit" method="post">
  <div class="">
      <%= "Username" %>
      <input type="text" name="[user]username" value="">
  </div>
<div class="">
    <%= 'Password'%>
    <input type="password" name="[user]password" value="">
</div>

<div class="">
    <%= 'E-mail' %>
    <input type="text" name="[user]email" value="">
</div>
<div class="">
  <%= 'Location' %>
  <input type="text" name="[user]location" value="">
</div>
<div class="">
  <%= 'Motto' %>
  <input type="text" name="[user]motto" value="">
</div>
<div class="">
  <%= 'Interests' %>
  <input type="text" name="[user]interests" value="">
</div>
<input type="submit" name="" value="submit">
</form>

<div class="">
  <form class="" action="/edit" method="post">

<input type="hidden" name="delete" value="account">
<input type="submit" name="" value="Delete Account">
  </form>

</div>
