<h1> User Bio</h1>
<div class="information-container">
<%= "Username: "<< @other_user.username %>
<div class="">
  <%="Location:" <<  @other_user.location %>
</div>
<div class="">
  <%= "Motto: " << @other_user.motto %>
</div>
<div class="">
  <%= "Interests: "<< @other_user.interests %>
</div>
</div>

<% @CurrentUserFriendscheck.each do |friend|  %>

<% if friend.friend_id == @other_user.id %>
  <% @checker = true %>
<% end %>

<% end %>

<% @CurrentUserFriendscheck2.each do |friend|  %>

<% if friend.user_id== @other_user.id %>
<% @checker = true %>


<% end %>

<% end %>

<% if @checker %>
<% else %>
<form class="" action="/friendrequest" method="post" id="friendrequest">
<input type="hidden" name="otheruser" value='<%="#{@other_user.id}"%>'>
</form>
<button type="submit" name="button" form="friendrequest">Add Friend</button>
<% end %>
<hr>
<h1>Blogs</h1>
<% @other_user.blogs.each do |blog| %>


  <div class="">
    <a href= '/blogpost/<%="#{blog.id}"%>'>
    <%= blog.content %>
  </a>
  </div>
  <div class="">
    <form class="" action='/favoriteblogs/<%="#{blog.id}"%>' method="post" id="favorite">
<input type="hidden" name="otheruser" value='<%="#{@other_user.id}"%>'>
      </form>
    <button type="submit" name="button" form="favorite"> Favorite it!</button>
  </div>



<% end %>
	<link rel="stylesheet" type="text/css" href="test.css">
