
 <div class="background"></div>

<div class="">

Friends
</div>


<div class="friend-container">
  <div class="friends"> Friends </div>
  <% @friends.each do |friend| %>
  <% friend = friend.friend_id %>
  <div class="friend">
  <a href='/otherprofile/<%="#{friend}"%>'>
  <%= User.find(friend).username %>
  </a>
  </div>
  <%end %>

  <% @friendsother.each do |friend| %>
   <% friend = friend.user_id%>
  <div class="">
  <a href='/otherprofile/<%="#{friend}"%>'>
   <%= User.find(friend).username %>
   </a>
   </div>
   <%end %>
</div>

<div class="account-details">
<div class="">
  <%= @user.username %>
</div>
<div class="">
  <%= @user.location %>
</div>
<div class="">
  <%= @user.motto %>
</div>
<div class="">
  <%= @user.interests %>
</div>
</div>


<div class="">
  Blogs
</div>

<%@blogs.each do |blog| %>
<a href='/blogpost/<%=blog.id%>'>
  <div class="">
    <% date = blog.created_at%>
<%= date %>
  </div>
 <div><%= blog.content%></div>
 </a>

<%end %>
<div class="">
  post a new blog
</div>



<div class="blog-container">
  <form class="" action="/profile" method="post">
    <textarea name="content" rows="8" cols="80" maxlength= "150"></textarea>
    <input type="submit" name="" value="BLOG IT">
  </form>
</div>


<div class="">
  Other Accounts
</div>
<% @other_users.each do |user| %>
  <%if session[:user_id] == user.id%>


  <% else %>
    <div class="">
      <a href='/otherprofile/<%= "#{user.id}" %>'>
        <%= user.username %>
      </a>
    </div>
  <% end %>
<% end %>



<a href="/favoriteblogs"><button type="button" name="">Favorite Blogs</button></a>
<p>Friend Requests</p>
<% @friendrequests.each do |request| %>
<% otheruser = request.user_id %>
<%= User.find(otheruser).username %>
<div class="">

  <form class="" action='/createfriend/<%="#{otheruser}"%>' method="post" id="accept">
    <input type="hidden" name="requestid" value='<%= "#{request.id}"%>'>
  </form>
  <button type="submit" name="button" form="accept">accept</button>
</div>

<%end%>
