

<% @blogs.each do |blog| %>
  <a href='/blogpost/<%=blog.id%>'>
    <div class="">
      <% date = blog.created_at%>
      <%= date %>
    </div>
    <div><%= blog.content%></div>
  </a>
<%end %>

<form class="" action="/profile" method="post">
  <textarea name="content" rows="8" cols="80" maxlength= "150"></textarea>
  <input type="submit" name="" value="Post">
</form>


<% @other_users.each do |user| %>
  <%if session[:user_id] == user.id%>

  <%else%>
    <div class="">
      <a href='/otherprofile/<%= "#{user.id}" %>'>
        <%= user.username %>
      </a>
    </div>
  <%end%>
<% end %>


  <a href="/favoriteblog"><button type="button" name="">Favorite Blog</button></a>
