
 <!-- <div class="background"></div> -->
 <div class="">
   Welcome to your Profile!
 </div>

<div class="information-container">
  <div class="information-container-head"> Friends </div>
  <% @friends.each do |friend| %>
    <% friend = friend.friend_id %>
    <div class="friend">
      <a href='/otherprofile/<%="#{friend}"%>'>
        <%= User.find(friend).username %>
      </a>
    </div>
  <%end %>

  <% @friendsother.each do |friend| %>
   <% friend = friend.user_id%>
  <div class="">
    <a href='/otherprofile/<%="#{friend}"%>'>
      <%= User.find(friend).username %>
    </a>
  </div>
   <%end %>
</div>



<div class="information-container">
  <div class="information-container-head"> Bio:</div>
  <div class="">
    <%= "Username:" << @user.username %>
  </div>
  <div class="">
    <%= "Location:" << @user.location %>
  </div>
  <div class="">
  <%="Motto: "<< @user.motto %>
  </div>
  <div class="">
    <%="Interests: "<< @user.interests %>
  </div>
</div>
<div class="information-container">
<div class="">
  Blogs
</div>

<%@blogs.each do |blog| %>
<a href='/blogpost/<%=blog.id%>'>
  <div class="information-container-head">
    <% date = blog.created_at%>
<%= date %>
  </div>
 <div><%= blog.content%></div>
 </a>
<%if blog.otheruser_id  %>
<% @reblog_username = User.find(blog.otheruser_id).username %>

<%="Reblogged from #{@reblog_username}" %>

<%end%>
 <div class="">
   <form class="" action="/editblogcontent/<%=blog.id%>" method="post" id="editblog">
     <textarea name="edits" rows="8" cols="80"></textarea>
   </form>
   <button type="submit" name="button" form= "editblog">Edit</button>
 </div>
 <div class="">
<form class="" action="/editblog/<%=blog.id%>" method="post" id="deleteblog"></form>
<button type="submit" name="button" form= "deleteblog">Delete</button>
</div>
<%end %>
</div>

<a href="/favoriteblogs"><button type="button" name="">Favorite Blogs</button></a>


<div class="blog-container">
  <div class="information-container-head">
    Post a new blog
  </div>
  <form class="" action="/profile" method="post">
    <textarea name="content" rows="8" cols="80" maxlength= "150"></textarea>
    <input type="submit" name="" value="BLOG IT">
  </form>
</div>

<div class="information-container">
<div class="information-container-head">
  Other Accounts
</div>
<% @other_users.each do |user| %>
  <%if session[:user_id] == user.id%>


  <% else %>
    <div class="">
      <a href='/otherprofile/<%= "#{user.id}" %>'>
        <%= user.username %>
      </a>
    </div>
  <% end %>
<% end %>
</div>



<div class="information-container">
<div class="information-container-head">Friend Requests

</div>
<% @friendrequests.each do |request| %>
<% otheruser = request.user_id %>
<%= User.find(otheruser).username %>
<div class="">
  <form class="" action='/createfriend/<%="#{otheruser}"%>' method="post" id="accept">
    <input type="hidden" name="requestid" value='<%= "#{request.id}"%>'>
  </form>
  <button type="submit" name="button" form="accept">accept</button>
</div>

<%end%>
</div>
